<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h2>Recipes</h2>
    
    <ul>
        <% for(let recipe of recipes) { %>
            <a href="/recipes/<%= recipe._id %>"><li><%= recipe.name %> <a href="/recipes/<%= recipe._id %>/delete">[X]</a></li></a>
        <% } %>
    </ul>
    <a href="/recipes/new">Add a new recipe</a>
</body>
</html>